@import url('simple.css');

.logos--mastodon::after {
    display: inline-block;
    width: 4.04em;
    height: 1em;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 127'%3E%3Cpath fill='%233088d4' d='M115.235 75.671c-1.731 8.905-15.501 18.649-31.317 20.537c-8.248.985-16.367 1.889-25.026 1.492c-14.16-.648-25.334-3.38-25.334-3.38c0 1.379.085 2.691.255 3.919c1.841 13.974 13.858 14.812 25.24 15.202c11.488.393 21.717-2.833 21.717-2.833l.473 10.387s-8.036 4.315-22.35 5.108c-7.895.434-17.695-.199-29.112-3.22C5.023 116.33.765 89.94.114 63.16c-.2-7.95-.076-15.448-.076-21.717c0-27.384 17.94-35.41 17.94-35.41C27.024 1.88 42.547.132 58.684 0h.397c16.137.132 31.67 1.879 40.716 6.033c0 0 17.94 8.026 17.94 35.41c0 0 .225 20.202-2.502 34.228'/%3E%3Cpath fill='%23fff' d='M24.875 34.806a7.217 7.217 0 1 1 14.434 0a7.217 7.217 0 0 1-14.434 0m103.502 8.76v33.156H115.24V44.54c0-6.784-2.854-10.226-8.564-10.226c-6.311 0-9.476 4.084-9.476 12.16V64.09H84.143V46.475c0-8.077-3.164-12.161-9.476-12.161c-5.71 0-8.564 3.442-8.564 10.226v32.182H52.967V43.566c0-6.776 1.726-12.161 5.191-16.145c3.575-3.984 8.255-6.026 14.064-6.026c6.723 0 11.813 2.583 15.178 7.751l3.273 5.485l3.272-5.485c3.365-5.168 8.454-7.75 15.178-7.75c5.809 0 10.489 2.041 14.063 6.025c3.466 3.984 5.19 9.369 5.19 16.145m45.252 16.482c2.71-2.864 4.016-6.47 4.016-10.82s-1.305-7.956-4.016-10.714c-2.61-2.864-5.924-4.242-9.94-4.242s-7.33 1.378-9.939 4.242c-2.61 2.758-3.916 6.365-3.916 10.714q0 6.525 3.916 10.82q3.915 4.137 9.94 4.137t9.94-4.137m4.015-37.34h12.952v53.04h-12.952v-6.26c-3.915 5.199-9.338 7.745-16.365 7.745c-6.727 0-12.45-2.652-17.27-8.063c-4.718-5.41-7.128-12.093-7.128-19.942c0-7.743 2.41-14.427 7.128-19.837c4.82-5.41 10.543-8.168 17.27-8.168c7.027 0 12.45 2.546 16.365 7.744zm56.53 25.566c3.815 2.863 5.723 6.894 5.622 11.986c0 5.41-1.908 9.653-5.823 12.624c-3.916 2.864-8.634 4.35-14.358 4.35c-10.341 0-17.37-4.244-21.085-12.625l11.246-6.682c1.506 4.56 4.819 6.895 9.84 6.895c4.617 0 6.927-1.486 6.927-4.562c0-2.228-3.012-4.243-9.136-5.834a84 84 0 0 1-5.723-1.804c-2.109-.848-3.916-1.803-5.422-2.97c-3.715-2.863-5.622-6.683-5.622-11.562c0-5.198 1.806-9.335 5.421-12.306c3.715-3.076 8.233-4.56 13.655-4.56c8.634 0 14.96 3.712 19.075 11.243l-11.043 6.365c-1.607-3.606-4.317-5.41-8.032-5.41c-3.916 0-5.824 1.486-5.824 4.35c0 2.227 3.012 4.242 9.137 5.834c4.72 1.06 8.434 2.652 11.145 4.668m41.167-12.412h-11.346v22.065c0 2.652 1.005 4.243 2.912 4.985c1.406.53 4.217.637 8.434.424v12.412c-8.734 1.06-15.06.212-18.775-2.653c-3.714-2.757-5.522-7.849-5.522-15.168V35.862h-8.735V22.708h8.735V11.994l12.951-4.137v14.851h11.346zm41.268 23.868q3.915-4.139 3.915-10.502q0-6.365-3.915-10.502c-2.61-2.758-5.823-4.136-9.74-4.136c-3.915 0-7.128 1.378-9.738 4.136c-2.51 2.864-3.816 6.365-3.816 10.502s1.305 7.638 3.816 10.502c2.61 2.758 5.823 4.137 9.738 4.137c3.917 0 7.13-1.38 9.74-4.137m-28.615 9.44c-5.12-5.41-7.63-11.986-7.63-19.942c0-7.85 2.51-14.427 7.63-19.837s11.446-8.167 18.875-8.167s13.756 2.758 18.877 8.167c5.12 5.41 7.73 12.093 7.73 19.837c0 7.85-2.61 14.533-7.73 19.943s-11.346 8.062-18.877 8.062s-13.755-2.651-18.875-8.062m88.758-9.123q3.916-4.296 3.916-10.82c0-4.35-1.305-7.956-3.916-10.714c-2.61-2.864-5.924-4.242-9.94-4.242s-7.33 1.378-10.04 4.242c-2.61 2.758-3.916 6.365-3.916 10.714q.001 6.525 3.916 10.82c2.71 2.758 6.125 4.137 10.04 4.137q6.024 0 9.94-4.137m3.916-58.556h12.952v74.256h-12.952v-6.26c-3.815 5.199-9.238 7.745-16.265 7.745c-6.727 0-12.55-2.652-17.37-8.063c-4.718-5.41-7.128-12.093-7.128-19.942c0-7.743 2.41-14.427 7.129-19.837c4.82-5.41 10.642-8.168 17.369-8.168c7.027 0 12.45 2.546 16.265 7.744zm58.437 58.238q3.915-4.139 3.915-10.502q0-6.365-3.915-10.502c-2.61-2.758-5.823-4.136-9.74-4.136c-3.915 0-7.128 1.378-9.738 4.136c-2.511 2.864-3.816 6.365-3.816 10.502s1.305 7.638 3.816 10.502c2.61 2.758 5.823 4.137 9.739 4.137s7.128-1.38 9.74-4.137m-28.616 9.44c-5.12-5.41-7.63-11.986-7.63-19.942c0-7.85 2.51-14.427 7.63-19.837c5.121-5.41 11.446-8.167 18.876-8.167s13.755 2.758 18.876 8.167c5.12 5.41 7.73 12.093 7.73 19.837c0 7.85-2.61 14.533-7.73 19.943s-11.346 8.062-18.876 8.062s-13.755-2.651-18.876-8.062M512 43.18v32.567h-12.953v-30.87c0-3.5-.903-6.152-2.71-8.167c-1.707-1.803-4.117-2.759-7.23-2.759c-7.33 0-11.043 4.35-11.043 13.155v28.64H465.11V22.709h12.953v5.94c3.112-4.985 8.031-7.425 14.96-7.425c5.522 0 10.04 1.91 13.554 5.835C510.192 30.983 512 36.287 512 43.18'/%3E%3C/svg%3E");
  }

.mui-input {
    color: inherit !important;
    background-color: inherit !important;
    padding: .3rem;
}

.mui-option {
    background-color: var(--accent-bg);
    color: var(--text);
}

.mui-input:focus {
    outline-color: var(--accent);
}

a.no-decoration {
    text-decoration: none;
}

.consent {
    border: 1px solid;
    text-align: center;
}

.header-logo {
    vertical-align: middle;
    height: 75px;
    border-radius: 50%;
    margin: 0 15px 0 0;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-no-bold {
    font-weight: normal !important;
}

.font-1rem {
    font-size: 1rem !important;
}

.full-width {
    width: 100% !important;
}

.width-30 {
    width: 30%;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

/* Navigation bar */
nav a.current-page {
    border: solid 1px var(--accent);
}

/* search area */
.search-area button {
    margin-right: 10px;
    border-radius: 50%;
}

.search-input {
    margin-right: 10px;
}
.search-text {
    width: 50%;
}

.search-select {
    width: 20%;
}

#search-genre {
    width: 50% !important;
}

.search-date {
    width: 24% !important;
}

.search-filter-button {
    color: var(--text);
    background-color: var(--accent-bg);
}

/* album / playlist item display */
.item {
    background: var(--accent-bg);
    border: solid 1px var(--border);
    border-radius: 4px;
    padding: 15px;
}

.playlist-item-album {
    border: solid 1px var(--border);
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px;
}

.inline-button {
    padding: 2px 5px 0 5px;
    margin: 0 0 0 25px;
    background-color: var(--accent-bg);
    color: var(--accent);
    float: right;
}

.font-medium {
    font-size: medium;
}

.font-small {
    font-size: small;
}

.font-x-small {
    font-size: x-small;
}

.item-content {
    margin: 15px 10px 15px 10px;
}

.item-user {
    font-weight: bold;
}

.item-buttons {
    width: 100%;
    border: none;
    padding: 0;
}
.item-buttons > tbody > tr {
    border: none;
    padding: 0;
}
.item-buttons > tbody > tr > td {
    border: none;
    padding: 0;
}
.item-buttons-left {
    text-align: left;
}
.item-buttons-right {
    text-align: right;
}

.action-button {
    border-radius: 5px;
    margin: 0 5px 0 5px;
}

.filter-buttons {
    width: 100%;
    vertical-align: middle;
    margin: auto auto 10px;
}

.main-button {
    display: block;
    border-radius: 50%;
}
.main-button-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
    border-radius: 50%;
}

.button-style {
    border: solid 1px var(--accent);
    border-radius: 5px;
    background: var(--accent-bg);
    font-size: 1rem;
    color: var(--accent);
    padding: .7rem .9rem;
    margin: .5rem 0;
    transition: .4s
}

.button-style:hover {
    border: none;
    background: var(--accent);
    color: var(--accent-bg);
}

.main-button-item {
    display: inline-block;
}
.filter-button {
    border-radius: 5px;
    width: 31.9%;
    margin-right: 10px;
    border: solid 1px var(--border);
    background-color: var(--accent-bg);
    color: var(--text);
}

.filter-button[aria-pressed="true"] {
    background-color: var(--accent);
    color: var(--accent-bg);
    border: solid 1px;
}

.search-page-main input {
    width: 60%;
    margin-right: 10px;
}

.search-page-main select {
    width: 20%;
    margin-right: 10px;
}

.search-page-main button {
    margin-right: 10px;
}

.quick-search-text {
    width: 85%;
    padding: .7rem .9rem;
    margin-right: 1rem;
}

.quick-search-icon {
    padding: 0 .5rem;
    vertical-align: middle;
    cursor: pointer;
}

.link-button {
    font-family: var(--sans-font);
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--accent);
    text-decoration: underline;
}

.link-button:hover {
    text-decoration: none;
}


.float-right {
    float: right;
    position: relative;
}

/* page list */
.page-selector {
    margin: auto;
    text-align: center;
    width: 100%;
}

.page-selector ul {
    align-items: center;
    list-style: none;
    display: inline-flex;
    margin: auto;
    padding: 0;
}

.page-selector li {
    cursor: default;
    padding: 0 10px; /* Add spacing between list items */
}

.page-selector li:first-child {
    cursor: default;
    padding: 0;
    padding-left: 0;
    padding-right: 10px;
}

/* Forms */
.album-form > input.text-input {
    width: 100%;
}

/* Search table */
.search-table {
    width: 550px;
    font-size: medium;
}

.search-table tr {
    background-color: white;
}

.search-table th {
    background-color: white;
}

.search-table tr.selected {
    background-color: var(--accent);
    background: var(--text);
}

/* User menu */
.user-button-container {
    position: absolute;
    top: 10%;
    right: 5%;
}
.user-button {
    float: right;
    display: block;
}
.user-button-container>.user-button {
    border-radius: 50%;
}
.user-menu {
    text-align: left;
    padding: 15px;
}
.user-menu ul {
    padding: 0;
    margin: 0;
}
.user-menu li {
    list-style: none;
}

/* Align field for form or other */
.align-field {
    display: table;
    width: 100%;
}

.align-field > p {
    display: table-row;
}

.align-field > p > label {
    display: table-cell;
}

.align-field > p > input {
    display: table-cell;
    width: 100%;
}

.share-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.share-buttons li {
    padding: 0 0.5rem;
    margin: 0 0.2rem;
    cursor: pointer;
    display: inline-block;
}

@media (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
    }

    details {
        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;
        border-bottom: solid 1px var(--border);
        border-top: solid 1px var(--border);
    }

    header {
        padding: 0;
        padding-top: 1rem;
    }

    main {
        padding: 0;
        margin: 0;
    }

    footer {
        padding: 1rem 0;
        margin: 0;
    }

    .full-width {
        width: 98% !important;
    }

    header h1 {
        font-size: x-large;
    }

    nav {
        width: 100%;
        font-size: .9rem;
        padding: 0;
        margin-top: 1rem; 
        display: flex;
    }
    
    nav a {
        margin: 0;
        border-radius: 0;
        flex: auto;
    }

    .header-logo {
        height: 3rem;
    }

    .filter-buttons {
        margin: 0;
    }

    .search-page-main {
        margin: 0;
    }

    .search-page-main input {
        width: 60%;
        border-radius: 0;
        margin: 0;
    }
    
    .search-page-main input:focus {
        outline: none;
    }
    
    .search-page-main select {
        width: 20%;
        margin: 0;
        border-radius: 0;
        appearance: none !important;
    }

    .search-page-main button {
        margin: .2rem;
        padding: 0;
        width: 1.7rem;
        height: 1.7rem;
        background-color: var(--accent-bg);
        color: var(--accent);
        border: solid 1px var(--accent);
    }

    .search-page-advanced {
        font-size: 1rem;
    }

    .search-page-advanced input {
        border-radius: 0;
        margin: 0;
    }

    .search-date {
        width: 35% !important;
    }

    .search-filter-button {
        margin: .2rem;
        padding: 0;
        height: 2rem;
        width: 2rem;
    }

    .search-page-advanced select {
        border-radius: 0;
        margin: 0;
    }

    .quick-search-text {
        border-radius: 0;
        border: none;
        border-bottom: solid 1px var(--border);
        width: 75%;
        margin-left: 0.2rem;
    }

    .quick-search-text:focus {
        outline: none;
    }
    
    .quick-search-icon {
        padding: 0 .1rem;
        margin-right: .5rem;
        z-index: -1;
    }

    .page-selector {
        padding: .5rem 0;
    }

    .page-selector li {
        padding: 0 .3em;
    }

    .page-selector li:first-child {
        padding: 0;
        padding-right: .3rem;
        padding-left: 0;
    }

    .main-button-container button {
        opacity: 50%;
        box-shadow: 0 0 5px 2px var(--accent);
    }

    .user-button {
        height: 2rem;
        width: 2rem;
        padding: 0;
        color: var(--accent);
        background-color: var(--accent-bg);
    }

    .user-menu {
        margin-top: 35%;
        background-color: var(--accent-bg);
        border: solid 1px var(--border);
        border-radius: 5px;
        width: 5rem;
    }

    .scroll-to-top-button {
        opacity: 50%;
        box-shadow: 0 0 5px 2px var(--accent);
    }

}